@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.cheerpjLoading {
  display: block !important;
  visibility: visible !important;
}
.cheerpjNC {
  display: block !important;
  visibility: visible !important;
  color: black;
} */

.terminal {
  font-family: monospace;
  font-size: 14px;
  color: white;
  background-color: black;
  padding: 10px;
  overflow-y: auto;
  white-space: pre-wrap;
  line-height: 1.5;
  position: relative;
}

.terminal-cursor {
  display: inline-block;
  background-color: white;
  color: black;
  width: 8px;
  height: 1em;
  vertical-align: bottom;
}
